thead > tr > th {
  height: 50px;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
  font-size: 12px;
  width: 70px;
}

thead > tr > th:nth-child(1) ~ th {
  border-left: 1px solid lightgray;
  width: 200px;
}
