tbody > tr > td {
    height: 70px;
    font-weight: normal;
    position: relative;
    left: 1px;
    border-right: 1px solid lightgray;
  
}

tbody > tr > td:nth-child(1){
    border-right: 1px solid lightgray;
}


.row__hour{
    position: relative;
    bottom: 20px;
}


.event_row_container {
    display: flex;
    gap: 5px;
    height: 100%;
   

}

.event_row {
    border-right: 1px solid lightgray;
    background-color: lightskyblue;
    width: 100%;
    text-align: left;
    border-radius: 4px;
}

.event {
    width: 100%;
    height: 100%;
    display: flex;
}

.event_text {
    padding: 10px;
    font-weight: 500;
    font-size: 10pt;
}
